.header {
  background-position: center top;
  background-repeat: no-repeat;
}
.navbar {
  /* Fallback for web browsers that don't support RGBa */
  /*background-color: rgb(0, 0, 0);*/
  /* RGBa with 0.6 opacity */
  /*background-color: rgba(255, 255, 255, 0.7);*/
  /* For IE 5.5 - 7*/
  /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);*/
  /* For IE 8*/
  /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";*/
  
  border: none;
  padding: 1% 0 1%;
  margin-bottom: 0;
  background-color: #f6f6f6;
}
.navbar-nav {
  margin-top: 1%;
  margin-left: 1%;
}
.nav-a {
  /*color: #FFF !important;*/
  
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  /*-webkit-transition: color 550ms ease-in;
  -moz-transition: color 550ms ease-in;
  -ms-transition: color 550ms ease-in;
  -o-transition: color 550ms ease-in;
  transition: color 550ms ease-in;*/
}
.nav-a:hover {
  /* color: red;*/
}
.navbar-toggle {
  margin-top: 30px;
}
.wrap-all {
  margin-left: 15%;
}
.if-img {
  margin-top: 1%;
  display: inline;
  float: left;
}
.main-wrap {
  background-color: #a9e3f1;
  background-image: url("../imgs/space.jpg");
}
.btn {
  border-radius: 2px;
}
.btn-principal {
  color: #FFF;
  background-color: #e93d3d;
}
.intro-text {
  margin: 10% 0 4% 0;
  font-size: 3em;
  /*text-shadow: 1px 2px 3px #666;*/
}
.second-text {
  margin: 0 0 8% 0;
}
.btns {
  margin-top: 45%;
  margin-bottom: 65%;
}
#portfolio {
  background-color: #DCD6D6;
}
.wrap-row {
  margin-top: 4%;
}
.section-portfolio {} .section-heading {
  color: #333;
}
.section-subheading {
  color: #444;
}
.portfolio-item {
  background-color: #FFF;
  margin: 4% 0 4%;
  padding: 0;
  text-align: left;
}
.user-tag {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}
.fix-padd {
  padding-left: 0;
}
.portfolio-link {
  text-decoration: none;
  
  /* Transition mouse out */
  -webkit-transition: color 550ms ease-in;
  -moz-transition: color 550ms ease-in;
  -ms-transition: color 550ms ease-in;
  -o-transition: color 550ms ease-in;
  transition: color 550ms ease-in;
}
.portfolio-link:hover {
  color: orange;
  text-decoration: none;
  
   /* Transition mouse in */
  -webkit-transition: color 550ms ease-in;
  -moz-transition: color 550ms ease-in;
  -ms-transition: color 550ms ease-in;
  -o-transition: color 550ms ease-in;
  transition: color 550ms ease-in;
}
.game-title {
  text-align: left;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}
.game-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  text-align: left;
  color: #333;
}
.game-instructions {
  font-size: 1.6em;
  position: relative;
  top: 1em;
}
.user-tag {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  text-align: left;
  color: #333;
  position: relative;
  top: 4em;
}
.game-tags {
  position: relative;
  top: 4em;
}
@media (max-width: 991px) {
  .btns {
    margin: 8% 0 8%;
  }
}